*{
    margin: 0;
    padding: 0;
    color: #fff;
}

a{
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
body{
    background-color: #000;
   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f1f1f;
    height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    
    
}
main{
    background: rgb(26, 26, 26);
    justify-content: center;
    align-items: center;
   
    
}
p{
    font-size: 1.1em;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    cursor: pointer;
    display: none;
    
}
.mobile-menu div{
    height: 1px;
    width: 25px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
    display: flex;
    
  
}
.conteiner{
    justify-content: space-around;
    align-items: center;
    display: flex  ;
    margin: 0;
    z-index: -1;

}
.content{
    background: #272727;
    height: 92vh;
    width: 80vw;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.caixaColorida{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
.foto{
    background-image: url(fotoMin.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 0;
    margin: 0;
    display: flex;
    z-index: 1;
    
   
}
.caixaColorida::before, .caixaColorida::after{
    content: '';
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100%  + 30px);
    background: linear-gradient(30deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 10s linear infinite;
    
}
.caixaColorida::after{
    filter:blur(50px);
    
}

@keyframes AnimarBorda {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}
.myName{
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    text-decoration:underline;
    margin-bottom: 10px;
    
    
}
.firtText{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quemSouEu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 53%;
    
}
span{
    font-weight: 700;
    color: #ff0000;
    text-transform: uppercase;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 30px;
    grid-template-areas: 
        "item1 item1 "
        "item2 item2 ";
    
}
.titleProjects{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixaProjects{
    border: solid 2px white;
    width: 270px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.boxPassword{
    display: flex;
    align-items: center;
    gap: 4px;
}
.boxPassword i{
    font-size: 20px;
    cursor: pointer;
    
}
#password{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: solid 2px #1f1f1f;
    background-color: #1f1f1f;
    padding: 0px 10px 0px 10px;
   
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}



.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.conteinerIcon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxIcon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContact{
    font-size: 50px;
}

@media(max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute ;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #1f1f1f;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        
       
       
        
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
        
        
       
    }
    .content{
        flex-direction: column-reverse;
        
        
    }
    .foto{
        height: 200px;
        width: 200px;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-gap: 30px;
        grid-template-areas: 
            "item1 item1"
            "item2 item2"
            "item3 item3"
            "item4 item4";
        
    }
    .conteinerIcon{
        flex-direction: column;
    }

}

.nav-list.active{
    transform: translateX(0);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}
